################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MvcPWy/bin
/MvcPWy/obj/Debug
/packages
/MvcPWy/AppSettingsSecrets.config.ignore
